#============= hal_fingerprint_sdm660 ==============
allow hal_fingerprint_sdm660 fingerprint_sysfs:dir rw_dir_perms;
allow hal_fingerprint_sdm660 default_android_hwservice:hwservice_manager add;
allow hal_fingerprint_sdm660 fingerprintd_data_file:dir write;
allow hal_fingerprint_sdm660 fingerprintd_data_file:dir search;
allow hal_fingerprint_sdm660 fingerprintd_data_file:dir { add_name remove_name };
allow hal_fingerprint_sdm660 fingerprintd_data_file:file { rename unlink };
